/*ini css*/
.Simbol-S{
    font-size: larger;
    font-style: italic;
}
textarea{
    width: 300px;
    height: 100px;
    padding: 10px;
    resize: none;
}
#container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    background-color:floralwhite;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}
body{
    background-color: darkkhaki;
}
input{
    margin-bottom: 10px;
    
}
button{
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: darkgoldenrod;
    height: 25px;
}